<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to the library</h1>
</body>
    <form method='GET' action = '/search' >
        <input type="text" placeholder="Search for a book" name="title" >
        <input type="submit" value="Search" >
    </form>

    <% books.forEach((book) => { %>
        <p><%= book.title %> </p>
    <% }) %>
</html>